*{
  margin: 0;
  padding: 0;
}

/* Website Fonts */
.inter-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-notoserif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Primary-Color */
.primary-color{
    color: rgba(0, 0, 0, .5 );
}

/* Navbar Section  */
.top-section{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin: 30px 150px;
}

ul li{
    list-style: none;
    display: inline;
}
.menu-style{
    font-weight: bold;
}
ul li a{
   margin: 20px;
   text-decoration: none;
   color: black;
}
/* Banner Section  */
.banner-section{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin: 120px 150px;
}
.banner-content h1{
    font-size: 3rem;
}
.header-color{
    color: #e95a08;
}
.banner-text{
    font-size: 1.35rem;
}
.banner-image{
    width: 570px;
    height: 410px;
}

/* Plant Section  */
.header-text{
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
}
.header h5{
    text-align: center;
    font-size: 1.4rem;
    margin: 16px 270px 49px 270px;
} 
.plant-content{
display: grid;
grid-template-columns: repeat(4, 1fr);
place-content: center;
grid-gap: 10px;
margin: 49px 150px;
}
.plant-content > div {
    text-align: center;
    font-size: 2rem;
    line-height: 2.1rem;
  }

.plant-content > p {
font-weight: bold;
text-align: center;
font-size: 1.3rem;
line-height: 1.2rem;
 }
.btn-plant{
    background-color: #e95a08;
    border: none;
    width: 270px;
    height: 50px;
    color: white;
}

/* image gallery css */
.container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}
.header-text{
    font-size: 2.3rem;
    font-weight: bold;
}
.paragraph{
    font-size: 1.3rem;
    text-align: center;
    margin: 10px 276px 60px 276px;
}

.image-container{
  display: flex;
  gap: 10px;
  max-width: 1140px;
  height: 390px;
  margin: 0px 150px 120px 150px;
}

.left-banners {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1.3;
}

.common-center{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.banner {
  position: relative;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: white;
}

.left-text{
  position: absolute;
  left: auto;
  bottom: auto;
}

.bloom {
  background-image: url('../assets/deal-bloom1.png'); /* replace with your image */
}

.ana {
  background-image: url('../assets/deal-ana2.png'); /* replace with your image */
}

.right-banner {
  flex: 2;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background-image: url('../assets/deal-zabo3.png'); /* replace with your image */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.text-content {
  position: absolute;
  left: auto;
  bottom: auto;
}

.left-text{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

.right-banner{
  left: auto;
  bottom: auto;
  text-align: center;
}

.bloom-text .ana-text {
  font-size: 2rem;
  font-weight: bold;
   line-height: 1rem;
   width: 100%;
   height: 100%;
}

.bloom-text .ana-text span {
  font-size: 2rem;
}

.btn {
  display: block;
  /* margin: 70px; */
  font-size: 1.5rem;
  padding: 8px 16px;
  color: white;
  text-decoration: underline;
  font-weight: bold;
  /* width: 100%; */
}

/* Join Section CSS */

.subscribe-section {
  margin: 0 auto;
  background-image: url('../assets/news-letter-bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  text-align: center;
  width: 600px;
  border-radius: 10px;
}

.overlay-text{
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  width: 586px;
  height: 4.2rem;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.subscribe-form input[type="email"] {
  padding: 15px 20px;
  font-size: 1rem;
  border: none;
  flex: 1;
  outline: none;
}

.subscribe-form button {
  background-color: #f15a29;
  color: white;
  border: none;
  padding: 0 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-form button:hover {
  background-color: #d94f24;
}
/* Responsive Section for Top and Banner Section */
@media screen and (max-width: 430px) {
  .top-section{
    display:flex;
    align-items: center;
    justify-content: center;
}
.hidden{
    display: none;
}
.inline{
    display: grid;
    grid-template-columns: 70px 70px;
 }
 }
 @media screen and (max-width: 430px) {
.banner-section{
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
 .banner-image img{
    width: 400px;
    height: 250px;
 }
 .banner-content{
    width: 360px;
    height: 147px;
 }
 }


/* Responsive Section for Top and Banner Section */
